<div class="ui container">
  <form class="ui form" [formGroup]="formData" (ngSubmit)="onClickSubmit(formData.value)">
    <div class="field">
      <h2>Please sign in</h2>
    </div>
    <div class="field">
      <label>Username</label>
      <input type="text" id="username" formControlName="userName" name="first-name" placeholder="First Name" required
             autofocus>
    </div>
    <div class="field">
      <label>Password</label>
      <input type="password" id="inputPassword" name="last-name" placeholder="Last Name" formControlName="password"
             required>
    </div>
    <div class="field">
      <div class="ui checkbox">
<!--        <input type="checkbox" tabindex="0" class="hidden">-->
<!--        <label>I agree to the Terms and Conditions</label>-->
      </div>
    </div>
    <button class="ui button" type="submit">Sign in</button>
  </form>
</div>


